*{
    margin: 0px;
    padding: 0px;
}

.orange-col{
    color: #FD6E0A;
}

button{
    padding: 19px 36px;
    border: none;
    background-color: #FD6E0A;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url(../images/header_bg.png),#FFF8F3 ;
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}

nav{
    /* border: 1px solid red; */
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    padding-top: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2{

    font-size: 45px;
    font-weight:900;
}

.banner{
    max-width: 1332px;
    /* border: 3px solid red; */
    margin: 46px 38px 0px 230px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;
}

.info h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

.info p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

.info{
    max-width: 585px;;
}

.person-img img{
    max-width: 584;
    vertical-align: middle;
}

.button-container button{
    
    margin-right: 30px;
}

.about-container{
    width: 71%;
    max-width: 1140px;
    background-color: #FFF8F3;
    margin: 0px auto;
    padding: 131px 156px;

}

.About{
    padding: 130px 230px 0px 230px;
}

.about-container h2{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

#about-text{
    text-align: center;
    font-size: 18;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

.card-container{
    display: flex;
    justify-content: space-around;
}

.info-card p{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.info-card h4{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #474747;
}

.skill{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    padding-top: 130px;
}

.skill-text p{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 50px;
}

.skill-text h3{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

.skill-text{
    width: 827px;
    margin: 0px auto;
}

.skill-card-container{
    display: flex;
    gap: 24px;
}

.skill-card{
    /* height: 377px; */
    /* border: 1px solid red; */
    padding: 30px;
    max-width:267px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.093);
    
}

.skill-card h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}

.skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

.skill-card img{
    height: 44px;
    margin-bottom: 30px;
}

.edu{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    margin-top: 130px;
}

.edu-summary-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #181818;
    margin-bottom: 113px;
}

.edu-exp{
    display: flex;
    /* border: 1px solid red; */
    gap: 24px
}

.edu-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}

.edu-card{
    /* border: 1px solid red; */
    max-width: 511px;
    /* margin-right: 47px; */
}

.edu-card p{
    margin-right: 47px;
}

.edu-card h4{
    font-size: 25px;
    font-weight: bold;
    color:#474747;
    margin-bottom: 10px;
}

.edu-card h3{
    font-size: 20px;
    font-weight:600;
    color:#757575;
    margin-bottom: 20px;
}

.edu-card p{
    font-size: 16px;
    color:#757575;
    line-height: 28px;
    margin-bottom: 30px;

}

hr{
    margin-bottom: 30px;
    border: none;
    height: 2px;
    background-color: #D1D1D1;
}

