*{
    margin: 0px;
    padding: 0px;
}

.orange-col{
    color: #FD6E0A;
}

button{
    padding: 19px 36px;
    border: none;
    background-color: #FD6E0A;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

header{
    background-color: #FFF8F3;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}

nav{
    /* border: 1px solid red; */
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    padding-top: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2{

    font-size: 45px;
    font-weight:900;
}