*{
    margin: 0px;
    padding: 0px;
}

.orange-col{
    color: #FD6E0A;
}

button{
    padding: 19px 36px;
    border: none;
    background-color: #FD6E0A;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url(../images/header_bg.png),#FFF8F3 ;
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}

nav{
    /* border: 1px solid red; */
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    padding-top: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2{

    font-size: 45px;
    font-weight:900;
}

.banner{
    max-width: 1332px;
    /* border: 3px solid red; */
    margin: 46px 38px 0px 230px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;
}

.info h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

.info p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

.info{
    max-width: 585px;;
}

.person-img img{
    max-width: 584;
    vertical-align: middle;
}

.button-container button{
    
    margin-right: 30px;
}

.about-container{
    width: 71%;
    max-width: 1140px;
    background-color: #FFF8F3;
    margin: 0px auto;
    padding: 131px 156px;

}

.About{
    padding: 130px 230px 0px 230px;
}

.about-container h2{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

#about-text{
    text-align: center;
    font-size: 18;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

.card-container{
    display: flex;
    justify-content: space-around;
}

.info-card p{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.info-card h4{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #474747;
}